/* Style the header */
.header{
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  padding: 20px;
  background-color: #ffffff;
}


.header a {
  color: black;
  text-decoration: none;
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  font-family: Verdana, Geneva, sans-serif;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Verdana, Geneva, sans-serif;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-family: Verdana, Geneva, sans-serif;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

 /* Description for images */
div.desc {
  padding: 15px;
  text-align: center;
  font-style: italic;
}

 /* Center an image */
.center {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 40%;
 min-width: 300px;
}

.example {
  background-color: #e6ecff;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 75%
}

.example h4{
  padding-top: 0px;
}

.abstract {
  background-color: #c6ecc6;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.abstract h1 {
  padding-left: 0px;
  padding-left: 0px;
}


div.gallery {
    margin: 5px;
    padding: 5px;
    border: 1px solid #a6a6a6;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.gallery img {
    display: inline;
    margin: 5px;
}

div.gallery:hover {
    border: 1px solid #000000;
}

div.desc {
  text-align: center;
  font-weight: normal;
}

table, th, td {
  border: 1px solid black;
}













body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

p{
  padding-left: 50px;
  padding-right: 50px;
}

h1{
  padding-left: 50px;
  padding-right: 50px;
}

h3{
  padding-left: 50px;
  padding-right: 50px;
}
